{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks_info %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["price"] }}</td>
                    <td>{{ stock["total_value"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Cash Balance: {{ user_cash }}</h4>
    <h4>Grand Total: {{ grand_total }}</h4>
{% endblock %}